*{
    margin: 0;
    padding: 0;
    font-family: fantasy;
    background-color: rgb(81, 76, 76);
}
button {
    width: 60px;
    height: 60px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    margin: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px #000;
    font-size: 30px;
    transition: all 0.2s;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 15px;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: rgb(81, 76, 76);
    box-shadow: 4px 4px 4px 4px #000;
    font: fantasy;
}
.display{
    display: flex;
    flex-direction: row;
}
.value{
    box-sizing:border-box;
    border: solid 1px #000;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 25px;
    text-align: right;
    background-color: #fff;
    width: 100%;
    height: 50px;
    padding-right: 5px;
    color: rgb(121, 177, 121);
    background-color: rgb(50, 47, 47);
    box-shadow: inset 2px 2px 4px  #000;
}
.pad{
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
}
.row{
    display: flex;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete{
    font-size: 20px;
    box-sizing: border-box;
}

.operator:hover{
    background-color: rgb(230, 109, 109);
    color: #000;
}
.number:hover{
    box-shadow: 0px 2px 2px 0px #000;
    background-color: #24eacc;
    color: #000;
}

button:hover{
    box-shadow: 0px 2px 2px 0px #000;
    margin-top:10px;
    margin-bottom: 5px;
    background-color: rgb(68, 68, 245);
    color: #000;
}

.GHub{
    box-sizing: border-box;
    font-size: medium;
}
p{
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}